body {
  background-color: #e9f0f0;
}
.Logo {
  height: 80px;
  width: 80px;
  margin: 13px 8px 0px 20px;
}
.navbar {
  border: 1px solid black;
  display: flex;
  background-color: white;
  justify-content: space-between;
}
.navList {
  display: flex;
  font-size: 24px;
  margin-top: 15px;
  margin-right: 40px;
  list-style: none;
}
.listItem {
  padding: 10px;
  margin: 10px;
}
.resCard {
  padding: 5px;
  margin: 5px;
  background-color: #ffbbbb;
  width: 230px;
}
.resCard:hover {
  border: 1px solid black;
}
.resLogo {
  width: 100%;
  height: 50%;
}



.searchBarContainer {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin: 20px;
}
.filter-btn{
  text-align: center;
  font-size: 20px;
  background-color: aquamarine;
  border-radius: 10px;
}

.searchBar {
  height: 30%;
  width: 25%;
  border: 1px solid black;
  text-align: center;
  font-size: 25px;
}

.resCardContainer {
  margin: 30px 50px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
